/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/
html, body {
      height: 100%;
      background: url("../images/misc/button-gloss.png");
      //change later
}
#container {
	   min-height: 100%;
	   position: relative;
}
#body {
      padding-bottom: 20px;
}
#header {
	background: none repeat scroll 0 0 #222222;
	border-bottom: 5px solid #8F8F8F;
	
}
#header table {
	background: #222222;
	border: none;
	margin-bottom: 0px;
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-top: 30px;
	padding-top: 20px;
	text-align: center;
	height: 20px;
}
h1 {
   font-size: 35px;
}
h3 {
   font-size: 14px;
}
.logotext {
	  margin-top: 10px;
	  margin-bottom: 3px;
}
.blurbtext-top {
	       margin-top: 30px; 
	       margin-bottom: 0px;
}
.blurbtext-bottom {
		  margin-bottom: 30px;
}
.hidden {
        display: none;
}
div.panel.space-bottom {
		       padding-bottom: 30px;
}
.white {
       color: #EEEEEE;
}
.black {
       color: #222222;
}
#header form {
	margin-top: 27px;
	margin-bottom: 0px;
}
#body {
      margin-top: 30px;
}
.main_panel {
	    text-align: center;
}
.about_panel {
	     
}
.listing {
}
.form_add_button {
        margin-bottom: 6px;
        margin-top: 0px;
}

.large_text_area {
		 width: 300px;
		 height: 100px;


}
.borderless {
	    cellspacing: 0;
	    cellpadding: 0;
	    border: 0;

}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */



/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */
