{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="hero-unit">
    <div class = "row-fluid">
      <div class="col span6">
    	<br/> <br/> <br/>
	Put stuff here
      </div>
      <div class="col span6">
	<form>
	  <table class="pull-right">
	    <tr>
	      <td> Username: </td>
	      <td> <input type="text" id="username" name="username"/> </td>
	    </tr>
	    <tr>
	      <td> Email: </td>
	      <td> <input type="text" id="email" name="email"/> </td>
	    </tr>
	    <tr>
	      <td> Password: </td>
	      <td> <input type="text" id="password" type="password"/> </td>
	    </tr>
      	    <tr>
	      <td> First Name: </td>
	      <td> <input type="text" id="first"/> </td>
	    </tr>
	    <tr>
	      <td> Last Name: </td>
	      <td> <input type="text" id="last"/> </td>
	    </tr>
	    <tr>
	      <td colspan="2"> <center> <button class="btn btn-primary" id="submit">Sign Up</button> </center></td>
	    </tr>
	  </table>


	</form>
      </div>
      <div class="row-fluid"> hijklmnop </div>
    </div>
  </div>
</div>
{% endblock %}
